.basic-list {
  font-weight: 600;
  max-width: 680px;
  padding: 2rem 4rem;
  border: 1px solid var(--accent-xlight);
  border-radius: var(--radius-l);
  background-color: var(--accent-xxlight);
  box-shadow: var(--shadow-xxs);

  & li {
    text-wrap: balance;
    list-style-position: outside;
    padding-block: 1px;
  }
}
