.sitaatti {
  text-wrap: balance;
  text-align: center;
  font-size: 1.5rem;
  max-width: 1000px;
  font-family: var(--font-sans);
  font-style: italic;
  padding: 0 1.5rem;

  @media screen and (max-width: 600px) {
    font-size: 1.125rem;
  }
}
