.my-projects-section {
  width: 100%;
}

.my-projects-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.my-projects-info,
.my-projects-images {
  display: flex;
  padding: 2rem;
}

.my-projects-info {
  border-right: 1px solid var(--deco-line);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 5rem;
}

.my-projects-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--text-light);

  & h3 {
    text-transform: uppercase;
    color: white;
  }
}

.my-projects-intro-icon {
  display: grid;
  place-items: center;
  width: 3rem;
  aspect-ratio: 1/1;
  background-color: var(--primary);
  background-color: black;
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: -4px 8px 16px rgba(255, 255, 255, 0.125);
}

.my-project-stuff {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.125) 0%,
    transparent 30%,
    transparent 70%,
    rgba(255, 255, 255, 0.125) 100%
  );
  overflow: hidden;
  backdrop-filter: blur(0.5rem);
  height: 100%;

  & > a {
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: space-between;
    position: relative;

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.125);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.25);
    }

    & h4 {
      color: var(--text);
    }
  }

  & > a:last-child {
    border-bottom: none;
  }
}

.open-section {
  width: 100%;
  padding: 1rem;
  z-index: 2;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.125) 0%,
    transparent 30%,
    transparent 70%,
    rgba(255, 255, 255, 0.125) 100%
  );
  background-color: black;
  border-bottom: 1px solid var(--deco-line);
}

.open-section-text {
  position: relative;
  display: flex;
  flex-direction: column;
  text-wrap: balance;
  font-size: 0.925rem;
  gap: 1rem;
  justify-content: center;
  height: 100%;
}

.close-section {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  z-index: 3;

  &:hover {
    cursor: pointer;
    scale: 1.1;
  }
}

.frontend-stack,
.backend-stack,
.devops-stack,
.other-stack {
  & p {
    font-size: 0.875rem;
  }
}

.problems-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.problems-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.875rem;
  padding: 1rem;
  text-wrap: balance;
}

.links-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.live-link,
.github-link {
  display: flex;
  gap: 0.5rem;
  text-align: center;

  & h4:hover {
    color: var(--accent);
  }
}
