nav {
  width: 100%;
  height: var(--nav-height);

  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--accent-200);
  border-bottom: 1px solid black;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 900px) {
  .desktop-nav {
    display: none;
  }
}
