nav {
  width: 100%;
  height: var(--nav-height);
  position: sticky;
  background-color: var(--gray-50);

  top: 0;
  left: 0;
  z-index: 10;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  clip-path: inset(0px -15px -15px -15px);
}

header {
  text-align: center;
  padding-top: 1rem;

  & h1 {
    font-size: 4rem;
    font-family: var(--font-lavish);
    font-weight: 200;
  }
}

.header-wrapper {
  position: relative;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.desktop-nav {
  width: 100%;
  display: flex;
  justify-content: center;

  & > ul {
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
}

@media (max-width: 900px) {
  .desktop-nav {
    display: none;
  }
}
