.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;

  & li {
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      color: var(--accent);
    }
  }

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.nav-links a.active {
  font-weight: 600;
  color: black;
}
