.hide-section {
  display: none;
}

.esitys-section {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & p {
    text-wrap: balance;
  }
}

.jokukuva {
  border: 1px solid black;
  width: 100%;
  height: 200px;
  display: grid;
  place-items: center;
}
