.hide-section {
  display: none;
}

.esitys-section {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  &:last-child {
    gap: 1.5rem;
  }
}

.esitys-links {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  & a {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;

    &:hover {
      color: var(--accent);
    }
  }
}

.esitys-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.esitys-text {
  font-size: 1.125rem;
}

.esitys-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(min(360px, 100%), 1fr));
  place-items: center;
  width: 100%;
}

.text-center {
  text-align: center;
  text-wrap: balance;
}
