.tab-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.esitys-btn {
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
  height: 100%;
  text-align: center;
  border-bottom: none;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  overflow: hidden;

  & button {
    padding: 1rem 2rem;
    width: 100%;
    height: 100%;

    h3 {
      transition: all 0.3s ease;
    }

    & h3:hover {
      font-size: 1.1rem;
    }
  }
}

.inactive-esitys {
  background-color: var(--gray-200);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
