.cv-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* width: 100%; */
  width: min(100%, 800px);

  &:last-child {
    padding-bottom: 3rem;
  }
}

.cv-section-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cv-section-item {
  display: flex;
  flex-direction: column;
  text-wrap: balance;
}

.cv-year {
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  font-family: var(--font-sans);
  font-size: 0.875rem;
}

.cv-description {
  font-family: var(--font-baskerville);
}
