* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-color: var(--accent-200);
  background-color: var(--primary-50);
  width: 100%;
  height: 100%;
  color: black;
}

/* FONTS */
.space-grotesk-font {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* END FONTS */

/* Headers */
:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

/* Links, Button */
a,
button {
  all: unset;
  cursor: pointer;
}
/* END Links, Button */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --nav-height: 10dvh;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25),
    0 1rem 2rem rgba(0, 0, 0, 0.125);

  /* COLORS */
  --primary: #facea0;
  --primary-50: #fef7ee;
  --primary-100: #fdecd7;
  --primary-200: #facea0;
  --primary-300: #f8b779;
  --primary-400: #f38f44;
  --primary-500: #f0701f;
  --primary-600: #e15615;
  --primary-700: #bb4013;
  --primary-800: #953417;
  --primary-900: #782d16;
  --primary-950: #411409;

  --secondary: #553062;
  --secondary-50: #faf7fc;
  --secondary-100: #f4edfa;
  --secondary-200: #eadbf3;
  --secondary-300: #dabee9;
  --secondary-400: #c497db;
  --secondary-500: #a96dc8;
  --secondary-600: #8e4eab;
  --secondary-700: #763e8d;
  --secondary-800: #623474;
  --secondary-900: #553062;
  --secondary-950: #33153d;

  --accent: #d082ac;
  --accent-50: #faf5f8;
  --accent-100: #f7ecf2;
  --accent-200: #f1d9e7;
  --accent-300: #e6bbd3;
  --accent-400: #d082ac;
  --accent-500: #c56f9a;
  --accent-600: #b1517d;
  --accent-700: #973f65;
  --accent-800: #7e3654;
  --accent-900: #6a3149;
  --accent-950: #3f1829;
  /* END COLORS */
}
