nav {
  width: 100%;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--accent-200);
  border-bottom: 1px solid black;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;

  & li {
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      color: var(--accent);
    }
  }
}

.nav-links a.active {
  font-weight: 600;
}
