nav,
footer {
  height: max(10dvh, 4rem);
  width: 100%;
  position: relative;
  /* padding: 0 2rem; */

  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--deco-line);
}

.nav-content {
  width: min(90%, 1000px);
  height: 100%;
  border-left: 1px solid var(--deco-line);
  border-right: 1px solid var(--deco-line);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links-wrapper {
  position: fixed;
  font-size: 0.825rem;
  text-transform: uppercase;
  display: flex;
  gap: 0.125rem;
  z-index: 5;
  padding: 0.75rem;
  backdrop-filter: blur(1rem);
  border-radius: 0.25rem;
}

.nav-link,
.nav-active {
  position: relative;
  height: 2rem;
  padding: 0;
  width: 6rem;
  overflow: hidden;
  border: 1px solid var(--deco-line);
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
}

.nav-link span,
.nav-active span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: transform 0.25s ease-in;
}

.nav-link:hover span,
.nav-active:hover span {
  transform: translateY(-100%);
}

.nav-line {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-line.default {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.nav-line.hover {
  background-color: var(--accent);
  color: black;
}

.nav-active {
  background-color: rgba(0, 0, 0, 1);
  border: thin solid var(--accent-tb-s);
}
