nav,
footer {
  height: max(10dvh, 4rem);
  width: 100%;
  /* padding: 0 2rem; */

  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--deco-line);
}

.nav-content,
.footer-content {
  width: min(90%, 1000px);
  height: 100%;
  border-left: 1px solid var(--deco-line);
  border-right: 1px solid var(--deco-line);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  position: fixed;
  font-size: 0.825rem;
  text-transform: uppercase;
  display: flex;
  gap: 0.125rem;
  z-index: 5;

  & a {
    padding: 0.5rem 1rem;
    border: 1px solid var(--deco-line);
    border-radius: 0.5rem;
    background-color: var(--primary);

    &:hover {
      background-color: var(--accent);
      color: black;
    }
  }
}
