.landing-page {
  padding-top: var(--nav-height);
  height: 100%;
  width: 100%;

  @media screen and (max-width: 600px) {
    padding-top: 0;
  }
}

.hero-image {
  display: flex;
  padding: 2rem;
  /* border: 1px solid red; */
  margin: 0 auto;
  width: 100%;
  max-width: 1366px;
  aspect-ratio: 5/4;
  height: auto;
  /* max-height: 100dvh; */
  justify-content: center;

  @media screen and (max-width: 600px) {
    aspect-ratio: 9/16;
    padding: 0;
  }
  /* aspect-ratio: 4/5; */
  /* aspect-ratio: 3/4; */
  /* overflow: hidden; */
}

.hero-img {
  width: 100%;
  width: 100%;

  object-fit: contain;
  /* object-fit: cover; */

  @media screen and (max-width: 600px) {
    aspect-ratio: 9/16;
    object-fit: cover;

    object-position: top;
  }

  /* height: 100dvh; */
  /* max-height: 50dvh; */
  /* height: 50dvh; */
  /* object-fit: cover; */
  /* object-position: top; */
}
