/* .landing-page {
  padding-top: var(--nav-height);
} */

.hero-image {
  display: flex;
  width: 100%;
  aspect-ratio: 16/9;
  /* aspect-ratio: 4/5; */
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  height: 100dvh;
  object-fit: cover;
  object-fit: contain;
  object-position: top;
}
