.landing-page {
  padding-top: var(--nav-height);
  height: 100%;
  width: 100%;

  @media screen and (max-width: 600px) {
    padding-top: 0;
  }
}

.hero-image {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1366px;
  height: max-content;
  justify-content: center;
  padding-top: 4rem;

  @media screen and (max-width: 840px) {
    padding-top: 0;
  }

  @media screen and (max-width: 600px) {
    aspect-ratio: 9/16;
  }
}

.hero-img {
  width: 100%;
  max-width: 800px;
  height: max-content;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;

  object-fit: contain;

  @media screen and (max-width: 800px) {
    border-radius: 0;
  }

  @media screen and (max-width: 600px) {
    aspect-ratio: 9/16;
    object-fit: cover;

    object-position: top;
  }
}

.sitaatti {
  text-wrap: balance;
  text-align: center;
  text-transform: uppercase;
  padding: 2rem 1rem;
}
