.hero-section {
  width: 100%;
  /* min-height: 60dvh; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--deco-line);
  /* padding: 0 2rem; */
}

.hero-content {
  width: min(90%, 1000px);
  border-left: 1px solid var(--deco-line);
  border-right: 1px solid var(--deco-line);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  gap: 0.5rem;
}

.hero-image-container {
  width: min(60%, 16rem);
  aspect-ratio: 5/6;
  position: relative;
}

.hero-image {
  object-fit: cover;
}

.tape {
  position: absolute;
  top: -0.5rem;
  left: 0;
  transform: rotate(25deg);
  height: 3.5rem;
  width: 1.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}
