.who-am-i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: min(100%, 800px);

  & p {
    font-weight: 600;
    font-style: italic;
    font-family: var(--font-sans);
    width: min(100%, 500px);
  }
}

.who-am-i .image-wrapper {
  width: 500px;
  height: 100%;

  @media (max-width: 600px) {
    width: auto;
    width: 100%;
  }

  & img {
    height: 600px;
    object-fit: cover;

    @media (max-width: 600px) {
      aspect-ratio: 9/16;
      height: auto;
      max-height: 600px;
      object-position: top;
    }
  }
}
