.hero-section {
  width: 100%;
  height: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero-image {
  position: relative;
  aspect-ratio: 5/4;
  width: min(100%, 1000px);
  max-height: calc(100vh - var(--nav-height));
  border-radius: 4px;
  overflow: hidden;
}

.desktop-img,
.mobile-img {
  object-fit: contain;
}

.mobile-img {
  display: none;
}

.sitaatti {
  text-wrap: balance;
  text-align: center;
  max-width: 800px;
}

@media (max-width: 580px) {
  .hero-section {
    padding: 0;
  }

  .hero-image {
    aspect-ratio: 9/16;
    height: 100%;
    width: 100%;
    border-radius: 0;
    max-height: 100%;
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }

  .sitaatti {
    padding: 0 1.5rem 2rem;
  }
}
