.hero-new {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(
    to bottom,
    white 0%,
    rgba(255, 255, 255, 0.9) 6%,
    rgba(255, 255, 255, 0.6) 15%,
    rgba(255, 255, 255, 0.3) 22%,
    transparent 35%
  );

  @media (max-width: 580px) {
    background: linear-gradient(
      to bottom,
      white 0%,
      rgba(255, 255, 255, 0.9) 5%,
      rgba(255, 255, 255, 0.6) 10%,
      rgba(255, 255, 255, 0.3) 15%,
      transparent 20%
    );
  }
}

.hero-new-image {
  object-fit: cover;
  width: 100%;
  height: 100svh;

  object-position: center 55%;

  @media (max-width: 1024px) {
    object-position: center 60%;
  }

  @media (max-width: 900px) {
    object-position: center top;
  }

  @media (max-width: 580px) {
    object-position: center top;
    height: 80svh;
  }
}

.hero-new-image-mobile {
  position: relative;
  display: flex;
  width: 100%;
  height: 70dvh;

  @media (min-width: 581px) {
    display: none;
  }
}

.new-mobile-img {
  object-fit: cover;
  object-position: center 0%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
}
