.hero-new {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to bottom, white 0%, transparent 45%);

  @media (max-width: 580px) {
    background: linear-gradient(to bottom, white 0%, transparent 30%);
  }
}

.hero-new-image {
  object-fit: cover;
  width: 100%;
  max-width: 1660px;
  height: 90dvh;

  object-position: center 30%;

  @media (max-width: 1024px) {
    object-position: center 20%;
  }

  @media (max-width: 900px) {
    object-position: center 10%;
  }

  @media (max-width: 580px) {
    display: none;
  }
}

.hero-new-image-mobile {
  position: relative;
  display: flex;
  width: 100%;
  height: 70dvh;

  @media (min-width: 581px) {
    display: none;
  }
}

.new-mobile-img {
  object-fit: cover;
  object-position: center 0%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
}
