html,
body {
  max-width: 100vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  height: 100%;
  width: 100%;
  font-size: clamp(0.875rem, 1vw + 0.75rem, 1rem);
  font-family: var(--font-baskerville), sans-serif;
  color: black;
  line-height: 1.4;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2rem;
  padding-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans), sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.5rem;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-sans), sans-serif;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

:root {
  --shadow-xs:
    0 0.5rem 1rem rgba(0, 0, 0, 0.1), 0 1rem 2rem rgba(0, 0, 0, 0.05);
  --shadow-s:
    0 0.5rem 1rem rgba(0, 0, 0, 0.125), 0 1rem 2rem rgba(0, 0, 0, 0.075),
    0 2rem 4rem rgba(0, 0, 0, 0.025);
  --shadow-m:
    0 0.5rem 1rem rgba(0, 0, 0, 0.25), 0 1rem 2rem rgba(0, 0, 0, 0.175),
    0 2rem 4rem rgba(0, 0, 0, 0.075);

  --text: black;

  /* Colors */
  --primary: #c9eded;
  --primary-50: #f0fbfb;
  --primary-100: #daf3f2;
  --primary-200: #c9eded;
  --primary-300: #89d6d7;
  --primary-400: #51bbbf;
  --primary-500: #369fa4;
  --primary-600: #30828a;
  --primary-700: #2c6a72;
  --primary-800: #2b575f;
  --primary-900: #284a51;
  --primary-950: #163036;

  --accent: #f7cddb;
  --accent-50: #fdf3f5;
  --accent-100: #fce7ed;
  --accent-200: #f7cddb;
  --accent-300: #f2afc5;
  --accent-400: #ea82a7;
  --accent-500: #de558a;
  --accent-600: #c93575;
  --accent-700: #a92762;
  --accent-800: #8e2358;
  --accent-900: #7a2150;
  --accent-950: #430e28;

  --gray-50: #fdfdfd;
  --gray-100: #f9f9f9;
  --gray-200: #f0f0f0;
  --gray-300: #e8e8e8;
  --gray-400: #e1e1e1;
  --gray-500: #d9d9d9;
  --gray-600: #cecece;
  --gray-700: #bbb;
  --gray-800: #8d8d8d;
  --gray-900: #828282;
  --gray-950: #636363;
  --gray-999: #202020;
}
