.wrapper {
  max-width: 1366px;
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.layout {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100dvh;
  position: relative;
  padding-top: var(--nav-height);
}
