.wrapper {
  max-width: 1366px;
  width: 100%;
  padding-inline: 1.5rem;
  margin: 0 auto;

  @media (max-width: 580px) {
    padding-inline: 0.5rem;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  position: relative;
  background-color: var(--gray-50);
}
