footer {
  height: 100%;
  height: max-content;
  background: linear-gradient(
    to bottom right,
    var(--accent-100) 0%,
    var(--accent-200) 100%
  );
  border-top: 1px solid rgb(0 0 0 / 12.5%);
  display: flex;
  align-items: center;
  width: 100%;
  padding-block: 1rem;
}
