footer {
  min-height: --nav-height;
  height: auto;
  height: auto;
  border-top: 1px solid black;
  background-color: var(--accent-200);
}

.footer-copy {
  @media screen and (max-width: 600px) {
    align-self: flex-end;
  }
}

.footer-content {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 100%;
  padding-block: 1rem;
}

.footer-logo {
  transform: scale(1);

  transition: transform 0.25s ease-out;

  @media screen and (max-width: 600px) {
    order: 1;
  }

  &:hover {
    transform: scale(1.25);
  }
}

.footer-email {
  @media screen and (max-width: 600px) {
    order: 2;
  }
}

.footer-contact {
  display: flex;
  align-items: center;
  gap: 1rem;

  @media screen and (max-width: 600px) {
    gap: 0.5rem;
    flex-direction: column;
    align-items: flex-end;
  }
}
