footer {
  min-height: 6dvh;
  height: auto;
  border-top: 1px solid black;
  background-color: var(--accent-200);
}

.footer-content {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 100%;
  padding-block: 1rem;
}

.footer-logo {
  transform: scale(1);

  transition: transform 0.25s ease-out;

  &:hover {
    transform: scale(1.25);
  }
}

.footer-contact {
  display: flex;
  align-items: center;
  gap: 1rem;
}
