* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary: #0f1a2f;
  --accent: #2ce6d6;

  --primary: #1a1a1a;
  --accent: #efd09e;
  --accent-tb-l: rgba(239, 208, 158, 0.75);
  --accent-tb-s: rgba(239, 208, 158, 0.5);

  --text: rgba(255, 255, 255, 0.87);
  --text-light: rgba(255, 255, 255, 0.5);

  --deco-line: rgba(255, 255, 255, 0.125);
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-size: 1rem;
  color: var(--text);
  background-color: var(--primary);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
}

h1 {
  font-size: 3rem;
}

h4 {
  font-weight: inherit;
  font-size: 1rem;
  color: var(--text-light);
}
