.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.95)),
    url("/assets/images/bg-test.jpg") center/cover no-repeat;

  background-color: var(--primary);
}

.mainContent {
  flex-grow: 1;
}
