.education-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--deco-line);
}

.education-content {
  width: min(90%, 1000px);
  border-left: 1px solid var(--deco-line);
  border-right: 1px solid var(--deco-line);
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  & > * {
    padding: 3rem 2rem 2rem;
  }
}

.education-title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* padding: 3rem 2rem 2rem; */
  display: grid;
  grid-template-rows: 3rem 1fr;

  border-right: 1px solid var(--deco-line);

  & h2 {
    color: var(--text-light);
    letter-spacing: -1px;
  }
}

.education-intro-icon {
  display: grid;
  place-items: center;
  width: 3rem;
  aspect-ratio: 1/1;
  background-color: var(--primary);
  background-color: black;
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: -4px 8px 16px rgba(255, 255, 255, 0.125);
}

.education-date {
  display: grid;
  grid-template-rows: 3rem 1fr;
  border-right: 1px solid var(--deco-line);

  & h4 {
    grid-row: 2 / 3;
    padding-top: 1rem;
  }
}

.education-description {
  display: grid;
  grid-template-rows: 3rem 1fr;
}

.education-institution {
  grid-row: 2 / 3;
  padding-top: 1rem;

  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;

  & h4 {
    font-size: 1.125rem;
    color: var(--accent);
  }

  & p {
    text-wrap: balance;
  }
}
