.image-wrapper {
  position: relative;
  width: 100%;
}

.image-wrapper-img {
  width: 100%;
  height: auto;
  border-radius: var(--radius-m);
  box-shadow: var(--shadow-s);

  @media (min-width: 870px) {
    aspect-ratio: 16/9;
    object-fit: cover;
    min-height: 500px;
  }
}

.ratio-9-16 {
  aspect-ratio: 9/16;
  width: 100%;
  object-fit: cover;
}

.ratio-16-9 {
  aspect-ratio: 16/9;
  height: auto;
  width: 100%;
  object-fit: cover;
}

.position-down {
  object-position: bottom;
}
