.image-with-caption {
  width: min(100%, 400px);
  margin: 0;

  width: 100%;
  padding-block: 5rem;
  display: flex;

  &:not(:last-child) {
    border-bottom: 1px solid var(--gray-950);
  }

  &:first-child {
    padding-top: 1rem;
  }

  @media (max-width: 1000px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.image-with-caption img {
  display: block;
  width: min(100%, 500px);
  height: auto;
  z-index: 1;
}

.caption {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 4rem 2rem;
  width: min(100%, 500px);

  & h2 {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  @media (max-width: 1000px) {
    padding: 1rem 0 0 0.5rem;
    gap: 1rem;
  }
}

.koko {
  color: var(--gray-950);
}

.tekniikka {
  font-size: 1.125rem;
  font-family: var(--font-sans);
}
