.mobile-nav-button {
  width: 48px;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
}

.mobile-nav-icon {
  transition: transform 0.25s ease-out;

  &:hover {
    transform: scale(1.25);
  }
}

.mobile-nav-menu {
  position: fixed;
  top: var(--nav-height);
  right: 0;
  z-index: 10;
  backdrop-filter: blur(0.5rem);
  background: rgba(255, 255, 255, 0.25);

  padding: 2rem;
  border-bottom-left-radius: 1rem;

  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;

  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-menu-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
