.mobile-nav-button {
  width: 48px;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
}

.mobile-nav-icon {
  transition: transform 0.25s ease-out;

  &:hover {
    transform: scale(1.25);
  }
}

.mobile-nav-menu {
  display: grid;
  place-items: center;
  width: 100%;
  height: calc(100dvh - var(--nav-height));

  position: fixed;
  top: var(--nav-height);
  right: 0;
  z-index: 5;
  backdrop-filter: blur(0.75rem);
  background: rgba(255, 255, 255, 1);
  background: var(--accent-200);

  padding: 2rem;
  overflow: hidden;

  transform: translateY(-100%);
  opacity: 0;

  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.75s cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-menu-open {
  transform: translateY(0);
  opacity: 1;
}
