nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 10dvh;
  height: auto;

  border-bottom: 1px solid black;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.scrolled {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(0.5rem);
}
