nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: var(--nav-height);
  backdrop-filter: blur(0.5rem);
  /* background: linear-gradient(
    to bottom right,
    var(--secondary-400),
    var(--secondary-400)
  ); */
  background-color: rgba(241, 217, 231, 0.85);
  border-bottom: 1px solid black;
}

.scrolled {
  background: rgba(255, 255, 255, 0.5);
  background: linear-gradient(
    to bottom right,
    var(--accent-200),
    var(--accent-200)
  );
  backdrop-filter: blur(0.75rem);
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  text-transform: uppercase;
}
