nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  /* min-height: 10dvh; */
  /* height: auto; */
  height: var(--nav-height);
  /* backdrop-filter: blur(0.5rem); */

  /* border-bottom: 1px solid black; */
}

.scrolled {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(0.75rem);
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  text-transform: uppercase;
}
