.nav-links {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.5);

  & a:hover {
    color: black;
  }

  & a.active {
    /* border-bottom: 1px solid black; */
    color: black;
    /* font-weight: bold; */

    &:hover {
      color: black;
    }
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}
